*.jar
./Specification
./Progress_Report
./Research
./temp
./analysis/AlchemyAPI_Java-0.8
./analysis/com
./analysis/edu
./analysis/JSON-java-master
./analysis/mysql-connector-java-5.1.27
./analysis/standford-parser
./analysis/WordNet-3.0
./joshua/twitter-master